# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
commands:
  print_pipeline_id:
    description: "prints the Circle CI Workflow ID from its environment variable"
    parameters:
      id:
        type: string
    steps:
      - run: echo << parameters.id >>

jobs:
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0 
    steps:
      - print_pipeline_id:
           id: << pipelines.id >>
  on_fail:
    docker:
      - image: circleci/node:13.8.0 
    steps:
      - run:
         command: echo "failed"
         when: on_fail

      
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - save_hello_world_output
      
